.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
```crash.log
override.tfvars.json
override.tfvars
*_override.tfvars
.terraformrc
terraform.rc

# SSH private keys
keys/
*.pem
*.key
```
/terraform-aws-19.11.25.iml
